/* src/index.css */

body {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  min-height: 100%;
  background-color: #ffa7a7; /* page color */
  color: #3c5973;            /* text color */
}

ul {
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  margin-right: 16px;
}

.mail-box {
  border: 2px solid white;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label,
button {
  margin: 16px 0px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 8px;
}

button {
  background-color: #9a4b4b;
}
.nono{
  margin-right: 20px;
}